{% extends "base.html" %}
{% load static %}
{% block content %}
<section id="about">
    <div class="about">
        <div class="about_image">
            <img src="{% static 'main/img/about.png' %}">
        </div>
        <div class="about_tag">
            <h1>Біз туралы</h1>
            <p>
                Біз оқуға деген сүйіспеншілікпен және осы махаббатты тұтынушыларымызбен бөлісуге құмар кітап дүкеніміз. Біздің мақсатымыз-кез-келген талғамға және қызығушылыққа арналған кітаптардың кең ассортиментін ұсыну, осылайша әр адам мұнда өзіне ерекше нәрсе таба алады.

Біздің дүкенде сіз әртүрлі жанрдағы ең жақсы туындыларды таба аласыз: қызықты детективтер мен романтикалық әңгімелерден бастап ғылыми әдебиеттер мен фантастикаға дейін. Біз сізге ең жаңа және ең танымал кітаптарды ұсыну үшін коллекциямызды үнемі жаңартып отырамыз.

Біздің команда сізге оқуға тамаша кітапты табуға көмектесуге дайын нағыз кітапқұмарлардан тұрады. Біз әрбір келуші әдебиет әлемінен ләззат алатын және жаңа және қызықты нәрсені таба алатын жайлы атмосфераны құруға тырысамыз.

Біздің дүкенге барғаныңыз үшін рахмет және сізді шабыттандыратын және жарқын әсер қалдыратын кітапты осы жерден табасыз деп үміттенеміз!            </p>
            <a href="{% url 'feedback' %}" class="about_btn">Пікірлер</a>
        </div>
    </div>
</section>
{% endblock content %}