{% extends "base.html" %}
{% load static %}
{% block content %}

    <section id="arrivals">
    <div class="arrivals">
        <h1>Жаңа түсірілімдер</h1>

        <div class="arrivals_box">

            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="{% static 'main/img/с++.jpg' %}">
                </div>
                <div class="arrivals_tag">
                    <p>С++</p>
                    <div class="arrivals_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="{% url "c" %}" class="arrivals_btn">Көбірек білу</a>
                </div>
            </div>

            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="{% static 'main/img/тонкоеискусствопофигизма.jpg' %}">
                </div>
                <div class="arrivals_tag">
                    <p>Тонкое искусство пофигизма</p>
                    <div class="arrivals_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="{% url "tonkoe" %}" class="arrivals_btn">Көбірек білу</a>
                </div>
            </div>

            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="{% static 'main/img/войнаимир.jpg' %}">
                </div>
                <div class="arrivals_tag">
                    <p>Война и мир</p>
                    <div class="arrivals_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="{% url "voina" %}" class="arrivals_btn">Көбірек білу</a>
                </div>
            </div>

            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="{% static 'main/img/королькот.jpg' %}">
                </div>
                <div class="arrivals_tag">
                    <p>Король кот</p>
                    <div class="arrivals_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="{% url "kingcat" %}" class="arrivals_btn">Көбірек білу</a>
                </div>
            </div>

            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="{% static 'main/img/englishgrammar.jpg' %}">
                </div>
                <div class="arrivals_tag">
                    <p>English Grammar</p>
                    <div class="arrivals_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="{% url "english" %}" class="arrivals_btn">Көбірек білу</a>
                </div>
            </div>
        </div>
    </div>
</section>
    
{% endblock content %}