{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store Website</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
{% block header %}
    <section>
        <nav>
            <div class="logo">
                <img src="{% static 'main/img/logo.png' %}">
            </div>

            <ul>
                <li><a href="{% url 'homepage' %}">Басты бет</a></li>
                <li><a href="{% url 'about' %}">Біз туралы</a></li>
                <li><a href="{% url 'featured' %}">Таңдаулы кітаптар</a></li>
                <li><a href="{% url 'arrivals' %}">Жаңа түсірілімдер</a></li>
                <li id="genres-dropdown">
                <a href="#">Тіркелу</a>
                <ul id="genres-menu">
                <li><a href="{% url 'signup' %}">Регистрация</a></li>
                    <li><a href="{% url 'login' %}">Логин</a></li>
            </ul>
                <li id="genres-dropdown">
                <a href="#">Каталог</a>
                <ul id="genres-menu">
                    <li><a href="{% url 'fiction' %}">Көркем әдебиет</a></li>
                    <li><a href="{% url 'children' %}">Балалар әдебиеті</a></li>
                    <li><a href="{% url 'phyco' %}">Психологиялық әдебиет</a></li>
                    <li><a href="{% url 'lang' %}">Тіл үйрену</a></li>
                    <li><a href="{% url 'business' %}">Іскерлік кітаптар</a></li>
                    <li><a href="{% url 'graphic' %}">Графикалық әдебиет</a></li>
                    <li><a href="{% url 'internet' %}">Ғаламтор, компьютерлер</a></li>

                </ul>
                <li><a href="{% url 'order' %}">Тапсырыс</a></li>
            </li>
            </ul>

            <div class="social_icon">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-heart"></i>
                <a href="{% url 'basket' %}"><i class="fa-solid fa-shopping-cart"></i></a>
            </div>

            <script>
    document.addEventListener('DOMContentLoaded', function() {
        const genresDropdown = document.getElementById('genres-dropdown');
        const genresMenu = document.getElementById('genres-menu');

        genresDropdown.addEventListener('mouseenter', function() {
            genresMenu.style.display = 'block';
        });

        genresDropdown.addEventListener('mouseleave', function() {
            genresMenu.style.display = 'none';
        });
    });
</script>
        </nav>
        {% endblock header %}

{% block main %}
        <div class="main">
            <div class="main_tag">
                <h1><span>КІТАП ДҮКЕНІНЕ</span><br>ҚОШ КЕЛДІҢІЗ</h1>
                <p>
                    Біз сізді кітап дүкенінде көруге қуаныштымыз! Бізде сіз кез-келген талғамға және қалауға арналған кітаптардың кең таңдауын таба аласыз.
                </p>
                <a href="{% url 'bookinstance_list' %}" class="main_btn">Кітаптарға өту</a>
            </div>
            <div class="main_img">
                <img src="{% static 'main/img/table.png' %}">
            </div>
        </div>
    </section>
{% endblock main %}


    <!--Services-->
{% block services %}
    <div class="services">

        <div class="services_box">

            <div class="services_card">
                <i class="fa-solid fa-truck-fast"></i>
                <h3>Жылдам жеткізу</h3>
                <p>
                    Біз сіздің тапсырыстарыңызды сіздің есігіңізге тез жеткізуге кепілдік береміз.                </p>
            </div>

            <div class="services_card">
                <i class="fa-solid fa-headset"></i>
                <h3>24 x 7 Қызметтер</h3>
                <p>
                    Біздің қызметтер сізге тәулік бойы қол жетімді. Сарапшылар тобы әрқашан сізге көмектесуге дайын.
                </p>
            </div>

            <div class="services_card">
                <i class="fa-solid fa-tag"></i>
                <h3>Жақсы ұсыныс</h3>
                <p>
                    Сатып алуларыңызға ақша үнемдеу үшін біз кітаптарға ең жақсы ұсыныстарды ұсынамыз.
                </p>
            </div>

            <div class="services_card">
                <i class="fa-solid fa-lock"></i>
                <h3>Қауіпсіз төлем</h3>
                <p>
                    Біз сіздің ыңғайлылығыңыз бен сенімділігіңіз үшін қауіпсіз төлемдерді қамтамасыз етеміз.
                </p>
            </div>

        </div>

    </div>
{% endblock services %}


{% block about %}
    <!--About-->
<section id="about">
    <div class="about">

        <div class="about_image">
            <img src="{% static 'main/img/about.png' %}">
        </div>
        <div class="about_tag">
            <h1>Біз туралы</h1>
            <p>
                Біз оқуға деген сүйіспеншілікпен және осы махаббатты тұтынушыларымызбен бөлісуге құмар кітап дүкеніміз. Біздің мақсатымыз-кез-келген талғамға және қызығушылыққа арналған кітаптардың кең ассортиментін ұсыну, осылайша әр адам мұнда өзіне ерекше нәрсе таба алады.

Біздің дүкенде сіз әртүрлі жанрдағы ең жақсы туындыларды таба аласыз: қызықты детективтер мен романтикалық әңгімелерден бастап ғылыми әдебиеттер мен фантастикаға дейін. Біз сізге ең жаңа және ең танымал кітаптарды ұсыну үшін коллекциямызды үнемі жаңартып отырамыз.

Біздің команда сізге оқуға тамаша кітапты табуға көмектесуге дайын нағыз кітапқұмарлардан тұрады. Біз әрбір келуші әдебиет әлемінен ләззат алатын және жаңа және қызықты нәрсені таба алатын жайлы атмосфераны құруға тырысамыз.

Біздің дүкенге барғаныңыз үшін рахмет және сізді шабыттандыратын және жарқын әсер қалдыратын кітапты осы жерден табасыз деп үміттенеміз!            </p>
            <a href="{% url 'feedback' %}" class="about_btn">Пікірлер</a>
        </div>
    </div>
</section>
{% endblock about %}



{% block featured %}
<section id="featured">
    <div class="featured_boks">

        <h1>Таңдаулы кітаптар</h1>

        <div class="featured_book_box">

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="{% static 'main/img/НИЗЯ.jpg' %}">
                </div>

                <div class="featurde_book_tag">
                    <h2>НИЗЯ</h2>
                    <p class="writer">Синсеро Дж.</p>
                    <div class="categories">Психология</div>
                    <p class="book_price">2,500₸<sub><del>3,000₸</del></sub></p>
                    <a href="{% url "nizia" %}" class="f_btn">Көбірек білу</a>
                </div>               

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="{% static 'main/img/бизнесбезмва.jpg' %}">
                </div>

                <div class="featurde_book_tag">
                    <h2>Бизнес без МВА</h2>
                    <p class="writer">Ильяхов М., Тиньков О.</p>
                    <div class="categories">Бизнес</div>
                    <p class="book_price">2,300₸<sub><del>2,500₸</del></sub></p>
                    <a href="{% url "biznesbezmba" %}" class="f_btn">Көбірек білу</a>
                </div>               

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="{% static 'main/img/томирис.jpg' %}">
                </div>

                <div class="featurde_book_tag">
                    <h2>Томирис</h2>
                    <p class="writer">Джандарбеков Б.</p>
                    <div class="categories">Көркем әдебиет, Тарих</div>
                    <p class="book_price">4,900₸<sub><del>5,500₸</del></sub></p>
                    <a href="{% url "tomiris" %}" class="f_btn">Көбірек білу</a>
                </div>               

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="{% static 'main/img/кодерсулицы.jpg' %}">
                </div>

                <div class="featurde_book_tag">
                    <h2>Кодер с улицы</h2>
                    <p class="writer">Капаноглу С.</p>
                    <div class="categories">Компьютер, ғаламтор</div>
                    <p class="book_price">9,500₸<sub><del>11,000₸</del></sub></p>
                    <a href="{% url "kodersulisy" %}" class="f_btn">Көбірек білу</a>
                </div>               

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="{% static 'main/img/магическаябитва.jpg' %}">
                </div>

                <div class="featurde_book_tag">
                    <h2>Магическая битва</h2>
                    <p class="writer">Акутами Г.</p>
                    <div class="categories">Графикалық әдебиет, Манхва</div>
                    <p class="book_price">5,300₸<sub><del>6,000₸</del></sub></p>
                    <a href="{% url "magicheskaya" %}" class="f_btn">Көбірек білу</a>
                </div>               

            </div>
            
            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="{% static 'main/img/наруто.jpg' %}">
                </div>

                <div class="featurde_book_tag">
                    <h2>Наруто</h2>
                    <p class="writer">Кисимото М.</p>
                    <div class="categories">Графикалық әдебиет, Манхва</div>
                    <p class="book_price">4,800₸<sub><del>6,000₸</del></sub></p>
                    <a href="{% url "naruto" %}" class="f_btn">Көбірек білу</a>
                </div>               

            </div>
            

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="{% static 'main/img/трисестры.jpg' %}">
                </div>

                <div class="featurde_book_tag">
                    <h2>Три сестры</h2>
                    <p class="writer">Моррис Х.</p>
                    <div class="categories">Көркем әдебиет</div>
                    <p class="book_price">6,000₸<sub><del>6,700₸</del></sub></p>
                    <a href="{% url "threesis" %}" class="f_btn">Көбірек білу</a>
                </div>               

            </div>
            

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="{% static 'main/img/самыелучшиекорейскиесказки.jpg' %}">
                </div>

                <div class="featurde_book_tag">
                    <h2>Самые лучшие корейские сказки</h2>
                    <p class="writer">Чун Ин Сун, Погадаева А.</p>
                    <div class="categories">Тіл үйрену, Балалар әдебиеті</div>
                    <p class="book_price">4,000₸<sub><del>4,800₸</del></sub></p>
                    <a href="{% url "samyelu" %}" class="f_btn">Көбірек білу</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock featured %}

{% block arrivals %}
    <!--Arrivals-->
<section id="arrivals">
    <div class="arrivals">
        <h1>Жаңа түсірілімдер</h1>

        <div class="arrivals_box">

            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="{% static 'main/img/с++.jpg' %}">
                </div>
                <div class="arrivals_tag">
                    <p>С++</p>
                    <div class="arrivals_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="{% url "c" %}" class="arrivals_btn">Көбірек білу</a>
                </div>
            </div>

            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="{% static 'main/img/тонкоеискусствопофигизма.jpg' %}">
                </div>
                <div class="arrivals_tag">
                    <p>Тонкое искусство пофигизма</p>
                    <div class="arrivals_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="{% url "tonkoe" %}" class="arrivals_btn">Көбірек білу</a>
                </div>
            </div>

            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="{% static 'main/img/войнаимир.jpg' %}">
                </div>
                <div class="arrivals_tag">
                    <p>Война и мир</p>
                    <div class="arrivals_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="{% url "voina" %}" class="arrivals_btn">Көбірек білу</a>
                </div>
            </div>

            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="{% static 'main/img/королькот.jpg' %}">
                </div>
                <div class="arrivals_tag">
                    <p>Король кот</p>
                    <div class="arrivals_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="{% url "kingcat" %}" class="arrivals_btn">Көбірек білу</a>
                </div>
            </div>

            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="{% static 'main/img/englishgrammar.jpg' %}">
                </div>
                <div class="arrivals_tag">
                    <p>English Grammar</p>
                    <div class="arrivals_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="{% url "english" %}" class="arrivals_btn">Көбірек білу</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock arrivals %}
    <!--Footer-->


{% block footer %}
    <footer>
        <div class="footer_main">

            <div class="tag">
                <h1>Quick Link</h1>
                <a href="{% url 'homepage' %}">Басты бет</a>
                <a href="{% url 'about' %}">Біз туралы</a>
                <a href="{% url 'featured' %}">Таңдаулы кітаптар</a>
                <a href="{% url 'arrivals' %}">Жаңа түсірілімдер</a>

            </div>

            <div class="tag">
                <h1>Байланыс</h1>
                <a href="#"><i class="fa-solid fa-phone"></i>+7 (771) 610 34 54</a>
                <a href="#"><i class="fa-solid fa-phone"></i>+7 (707) 901 80 70</a>
                <a href="#"><i class="fa-solid fa-envelope"></i>bookstore123@gmail.com</a>

            </div>

            <div class="tag">
                <h1>Бізге жазылыңыздар</h1>
                <div class="social_link">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>

            </div>
            
        </div>
    </footer>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const links = document.querySelectorAll('a[href^="#"]');

        links.forEach(link => {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                const targetId = this.getAttribute('href').substring(1);
                const targetElement = document.getElementById(targetId);
                if (targetElement) {
                    targetElement.scrollIntoView({ behavior: 'smooth' });
                }
            });
        });
    });
</script>
{% endblock footer %}
</body>
</html>