{% extends 'base.html' %}
{%block content%}
<style>
/* Стили для рамки формы */
.login-form-container {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

/* Стили для кнопки */
.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Стили для кнопки при наведении */
.btn:hover {
    background-color: #0056b3;
}

/* Стили для текстовых полей */
.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Стили для кнопки в форме */
.form-btn {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Стили для кнопки в форме при наведении */
.form-btn:hover {
    background-color: #0056b3;
}
</style>
</head>
<body>

<div class="login-form-container">
    <h2>Вход</h2>
    <!-- Форма входа -->
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Имя пользователя" class="input-field"><br>
        <input type="password" name="password" placeholder="Пароль" class="input-field"><br>
        <button type="submit" class="form-btn">Войти</button>
    </form>
</div>

{%endblock content%}