{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список заказов</title>
</head>
<body>
    <h1>Список заказов</h1>
    <ul>
        {% for order in orders %}
        <li>
            Заказ №{{ order.id }}<br>
            Пользователь: {{ order.user.username }}<br>
            Статус: {{ order.status }}<br>
            Сумма: {{ order.total_amount }}<br>
            Дата создания: {{ order.creation_date }}<br>
            Дата обновления: {{ order.update_date }}<br>
        </li>
        {% endfor %}
    </ul>
</body>

{% endblock content %}