{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
  * {
    box-sizing: border-box;
  }

  body {
    background-color: #f2f5ff;
    color: #31507d;
    display: flex;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh; /* Минимальная высота на весь экран */
    margin: 0;
    flex-direction: column; /* Элементы будут располагаться в столбце */
  }

  .container {
    flex: 1; /* Форма будет занимать всё доступное пространство между header и footer */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section#signup {
    width: 500px;
    margin-bottom: 20px; /* Отступ между формой и footer */
  }

  form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(74, 79, 97, 0.25) 0px 13px 27px -5px, rgba(74, 79, 97, 0.3) 0px 8px 16px -8px;
    padding: 20px 35px 35px 35px;
    text-align: center;

    i {
      color: #fff;
      font-size: 30px;
      transition: color 250ms ease-in;
    }

    .input-wrapper {
      margin-bottom: 30px;
      position: relative;

      i {
        color: #a4a9b6;
        position: absolute;
        opacity: 0.85;
        right: 13px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    h1 {
      font-weight: 600;
      letter-spacing: 0;
      margin: 25px 0 0 0;
    }

    p {
      color: #a4a9b6;
      font-size: 18px;
      margin: 2px 0 44px 0;
    }

    input[type=text], input[type=password] {
      border: 1px solid #d8ddf0;
      border-radius: 6px;
      font-size: 15px;
      padding: 13px 9px 13px 9px;
      transition: border-color 250ms ease-in;

      &:focus {
        border-color: #4c70ff;
        outline: none;
      }

      &:focus + i {
        color: #4c70ff;
      }
    }

    input {
      width: 100%
    }

    ::placeholder {
      color: #a4a9b6;
      font-size: 15px;
      opacity: 1;
    }

    button[type=submit] {
      background: #4c70ff;
      border: none;
      border-radius: 6px;
      color: #fff;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      padding: 18px 10px;
      width: 100%;

      i {
        margin-left: 5px;
      }
    }
  }
</style>


<div class="container"> <!-- Этот контейнер будет занимать оставшееся пространство между header и footer -->
  <section id="signup">
    <form>
      <h1>Қош келдіңіз!</h1>
      <p>Кіру үшін енгізіңіз.</p>

      <div class="input-wrapper">
        <input type="text" placeholder="Логин немесе номер енгізіңіз." />
        <i class="bx bxs-user-circle"></i>
      </div>

      <div class="input-wrapper">
        <input type="password" placeholder="Құпиясөзді енгізіңіз." />
        <i class="bx bx-key"></i>
      </div>

      <div>
        <button type="submit">
          Кіру
          <i class='bx bx-right-arrow-alt'></i>
        </button>
      </div>
    </form>
  </section>
</div>


{% endblock content %}
