{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
/* Стили для рамки формы */
.register-form-container {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 40px;
    width: 500px; /* Увеличиваем ширину формы */
    margin: 0 auto;
}

/* Стили для заголовка */
.register-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Стили для кнопки в форме */
.form-btn {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Стили для кнопки в форме при наведении */
.form-btn:hover {
    background-color: #0056b3;
}
</style>

<div class="register-form-container">
    <h2>Регистрация</h2>
    <!-- Форма регистрации -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} <!-- Используем {{ form.as_p }} для отображения всех полей формы -->
        <button type="submit" class="form-btn">Зарегистрироваться</button>
    </form>
</div>
{% endblock content %}
